.create{
    max-width: 480px;
    margin: 40px auto;
    color: #555;
}

.create span{
    display: block;
    margin: 30px 0 10px;
}

.create p{
    margin-top: 10px;
    font-size: 0.8em;
}

.create button{
    display: block;
    background: #58249c;
    width: 100px;
    margin: 20px auto;
    text-decoration: none;
    padding: 8px 15px;
    border: 0;
    color: #fff;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
}

.ingredients{
    display: flex;
    align-items: center;
}

.ingredients button{
    margin: 0 0 0 10px;
}