.navbar{
    background: #58249c;
    padding: 15px;
    color: #fff;
}

.navbar nav{
    display: flex;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.navbar a.brand{
    color: #fff;
    text-decoration: none;
}

.navbar .create-recipe-button{
    color: #fff;
    text-decoration: none;
    border: 1px solid #fff;
    padding: 8px;
    border-radius: 4px;
}

.navbar .create-recipe-button:hover{
    background: #fff;
    color: #333;
}